@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Cookie */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
::selection{
    color: white;
    background-color: var(--primary-color);
}
html {
    scroll-behavior: smooth;
}
:root{
    --bg-color-1:#ffff;
    --bg-color-1:#ffff;
    --grey-color-1:#rgba(0,0,0,0.20);
    --heading-color:#2c2c2c;
    --text-color:#353535;
    --primary-color:#ed2433;
    --font-family-1:'Roboto', sans-serif;
    --font-family-2:'Cookie', sans-serif;
    --nav-items-border-bottom:1px solid rgba(0,0,0,0.07);
}
.dark-mode{
    --bg-color-1:#080b0e;
    --bg-color-1:#101418;
    --grey-color-1:#383737;
    --heading-color:#ffffff;
    --text-color:#ffffffcc;
    --primary-color:#dc143c;
    --font-family-1:'Roboto', sans-serif;
    --font-family-2:'Cookie', sans-serif;
    --nav-items-border-bottom:1px solid rgba(255,255,255,0.07);
}

body{
    overflow: hidden;
}

::-webkit-scrollbar{
    width:10px;
    background: var(--bg-color-2);
    color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section{
    padding: 50px 5 rem 35px 5rem;
    margin-bottom: -1px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
img{
    transition: all 0.3s ease-in-out;
    width:100%;
    vertical-align: middle;
}

h1{
    font-size: 48px;
    font-weight: 500;
    color: var(--heading-color);
    line-height:1.2;
}
h2{
    color: var(--heading-color);
}
h3{
    font-family: var(--font-family-2);
    letter-spacing: 0.1em;
    font-size: 34px;
    margin-bottom: 15px;
    line-height: 28px;
    color: var(--primary-color);
}
h4{
    line-height: 1.8;
    color: var(--heading-color);
    font-size: 24px;
}
h5{
    color: var(--primary-color);
    font-size: 20px;
}
p{
     padding: 5px 0;
     font-size: 18px;
     color: var(--text-color);
     line-height: 28px;
     font-weight: 400;
}
a{
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
}

#navbar{
    position: absolute;
    top: 45px;
    left: 32px;
    right: 32px;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    height: 5.5rem;
    margin: 0.2rem;
    justify-content: space-between;
    padding: 0 20px;
    transition:all 0.3s ease-in-out;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);

}

.logo h5{
    
    font-size: 28px;
    color: var(--primary-color);
    display: inline-block;
}

.nav-items{
    display: flex;
    justify-content: space-around;
}

.nav-items .nav-links{
    color: white;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
.nav-items .nav-links:hover{
    color: var(--primary-color);
}

.nav-btns{
    gap:10px;
}

.nav-icon{
    color: white;
    font-size: 24px;
    cursor:pointer;
}
#navbar.fixed{
    padding: 0 4.5rem;
    margin: 0;
    position: fixed;
    top: 0;
    border-radius: 0;
    height: 4rem;
    background-color: var(--bg-color-1);

}

#navbar.fixed .logo .h5{
    color: var(--heading-color);

}

#navbar.fixed .nav-items .nav-links{
    color: var(--heading-color);
}

#navbar.fixed .nav-items .nav-links:hover{
    color: var(--primary-color);
}

#navbar.fixed .nav-icon i{
    color: var(--heading-color);
}
/*home*/
#home{
    padding: 0;
    margin-bottom: -10px;
}
#home .slide{
    background-position:  center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    margin-left: -1px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .slide1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(13.avif);

}
#home .slide2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(9.avif);
    
}
#home .slide .content .sub-head{
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 0 10px;
    position: relative;
    line-height: 2;
    z-index: 0;
    text-shadow: 0px 2px 2px black;
}
#home .slide .content .heading{
    color: white;
    line-height: 1;
    font-family: 'Dancing Script', cursive;
    font-size: 9vw;
    font-weight: 400;
    margin-bottom: 40px;
}
#home .slide .content .sub-head-2{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    display: inline-block;
    position: relative;
    z-index: 0;
    letter-spacing: 5px;
    text-shadow:0px 2px 2px black ;


}
#home .slide .content .sub-head-2::after,
#home .slide .content .sub-head-2::before
{
    content: "";
    display: inline-block;
    margin: 0.2rem;
    width: 70px;
    transform: translateY(-5px);
    height: 2px;
    background-color:var(--primary-color) ;

}
#home .owl-carousel .owl-dots{
    position: absolute;
    left: -3px;
    right: 0;
    bottom: 100px;
    width: 100px;
    text-align:center;
}
.owl-dot{
    border:1px solid rgba(255,255,255,0.5) ;
    border-radius: 50%;
    margin: 0 3px;

}
.owl-dot.active{
    border-color:white ;

}
.owl-dot span{
    margin: 2px;
    background-color:rgb(255,255,255,0.5);
}
.owl-dot.active span{
    background-color: white;
}

